* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
}

.header_p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
    padding: 6px;
}

.logo{
height: 72px;
}

.menu{
    display: flex;
    gap: 50px;
}
.menu_a{
    color: blue;
    font-weight: 600;
    font-size: 16px;

}